---

---
<footer>
    <section>
        <div id="sponsors">

        </div>
        <div id="info">
            <a href="">Privacy Policy</a>
            <a href="">Code of Conduct</a>
            <a href="">FAQ</a>
        </div>
    </section>
</footer>

<style>
    footer{
        width: 100vw;
        height: 400px;
    }
    section{
        max-width: 1600px;
        display: grid;
        grid-template-rows: 1fr auto;
    }

    #sponsors{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(135, 179, 199);
        padding: 2rem;
    }
    
    #info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(78, 135, 160);
        padding: 1rem;
    }

    a{
        text-decoration: none;
        font-family: interReg;
        font-size: 25px;
    }
</style>