---

---
<div class="newsletterHolder">
    <div class="newsletterBox">
        <h2>Sign up for our newsletter</h2>
        <p>We send out newsletters approximately every two to four weeks, and mostly from August to March. We'd love to have you join us! <br> <br> <br> and follow us on Social Media </p>
        <a href=""><img src="/signup.svg" alt=""></a>

    </div>
    <div class="socialmediaBox">
    </div>
    <a href="">
    <svg id="facebook" width="69.3" height="70" viewBox="0 0 214 216" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="facebookIcon">
        <path id="Ellipse 6" d="M211.5 108C211.5 166.288 164.692 213.5 107 213.5C49.3081 213.5 2.5 166.288 2.5 108C2.5 49.712 49.3081 2.5 107 2.5C164.692 2.5 211.5 49.712 211.5 108Z" stroke="#CBD2E0" stroke-width="5"/>
        <g id="Vector">
        <path d="M116 161H95V109H82V90H132L129 109H116V161Z" fill="#F7F9FC"/>
        <path d="M110 56C101.716 56 95 62.7157 95 71V90H115V79C115 76.2386 117.239 74 120 74H132V56H110Z" fill="#F7F9FC"/>
        </g>
        </g>
        </svg>
    </a>
    <a href="">
        <svg id="instagram" width="69.3" height="70" viewBox="0 0 214 216" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="instagramIcon">
            <path id="Ellipse 5" d="M211.5 108C211.5 166.288 164.692 213.5 107 213.5C49.3081 213.5 2.5 166.288 2.5 108C2.5 49.712 49.3081 2.5 107 2.5C164.692 2.5 211.5 49.712 211.5 108Z" stroke="#CBD2E0" stroke-width="5"/>
            <g id="Vector">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M84 56C67.4315 56 54 69.4315 54 86V131C54 147.569 67.4315 161 84 161H130C146.569 161 160 147.569 160 131V86C160 69.4315 146.569 56 130 56H84ZM90 66C76.1929 66 65 77.1929 65 91V126C65 139.807 76.1929 151 90 151H124C137.807 151 149 139.807 149 126V91C149 77.1929 137.807 66 124 66H90Z" fill="#F7F9FC"/>
            <path d="M141 80.5C141 84.0899 138.09 87 134.5 87C130.91 87 128 84.0899 128 80.5C128 76.9101 130.91 74 134.5 74C138.09 74 141 76.9101 141 80.5Z" fill="#F7F9FC"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M107 136C121.912 136 134 123.912 134 109C134 94.0883 121.912 82 107 82C92.0883 82 80 94.0883 80 109C80 123.912 92.0883 136 107 136ZM106.5 127C116.165 127 124 119.165 124 109.5C124 99.835 116.165 92 106.5 92C96.835 92 89 99.835 89 109.5C89 119.165 96.835 127 106.5 127Z" fill="#F7F9FC"/>
            </g>
            </g>
            </svg>
        </a>
        <a href="">
            <svg id="twitter" width="69.3" height="70" viewBox="0 0 214 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="twitterIcon">
                <path id="Ellipse 4" d="M211.5 108C211.5 166.288 164.692 213.5 107 213.5C49.3081 213.5 2.5 166.288 2.5 108C2.5 49.712 49.3081 2.5 107 2.5C164.692 2.5 211.5 49.712 211.5 108Z" stroke="#CBD2E0" stroke-width="5"/>
                <g id="Subtract">
                <path d="M108.29 98.358L145 56H159L115.051 106.71L108.29 98.358Z" fill="#F7F9FC"/>
                <path d="M97.9489 110.29L54 161H68L104.71 118.642L97.9489 110.29Z" fill="#F7F9FC"/>
                <path d="M108.29 98.358L145 56H159L115.051 106.71L108.29 98.358Z" stroke="#F7F9FC"/>
                <path d="M97.9489 110.29L54 161H68L104.71 118.642L97.9489 110.29Z" stroke="#F7F9FC"/>
                </g>
                <path id="Subtract_2" fill-rule="evenodd" clip-rule="evenodd" d="M54 56H74L159 161H139L54 56ZM66 65H76L147 152H137L66 65Z" fill="#F7F9FC"/>
                </g>
                </svg>
            </a>
            <a href="">
                <svg id="mail" width="69.3" height="70" viewBox="0 0 214 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="mailIcon">
                    <path id="Ellipse 3" d="M211.5 108C211.5 166.288 164.692 213.5 107 213.5C49.3081 213.5 2.5 166.288 2.5 108C2.5 49.712 49.3081 2.5 107 2.5C164.692 2.5 211.5 49.712 211.5 108Z" stroke="#CBD2E0" stroke-width="5"/>
                    <path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M64 66C58.4772 66 54 70.4772 54 76V141C54 146.523 58.4772 151 64 151H150C155.523 151 160 146.523 160 141V76C160 70.4772 155.523 66 150 66H64ZM107 105L75 80.5H139L107 105ZM68.5 130V81L95 109.5L68.5 130ZM119 109.5L145.5 81V130L119 109.5ZM107 122L117.5 111L138 137.5H76L96.5 111L107 122Z" fill="#F7F9FC"/>
                    </g>
                    </svg>
                </a>
                <a href="">
                    <svg id="linkedin" width="69.3" height="70" viewBox="0 0 214 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="linkedinIcon">
                        <path id="Ellipse 2" d="M211.5 108C211.5 166.288 164.692 213.5 107 213.5C49.3081 213.5 2.5 166.288 2.5 108C2.5 49.712 49.3081 2.5 107 2.5C164.692 2.5 211.5 49.712 211.5 108Z" stroke="#CBD2E0" stroke-width="5"/>
                        <path id="Subtract" fill-rule="evenodd" clip-rule="evenodd" d="M69 56C60.7157 56 54 62.7157 54 71V146C54 154.284 60.7157 161 69 161H144C152.284 161 159 154.284 159 146V71C159 62.7157 152.284 56 144 56H69ZM94 95H80V141H94V95ZM100 95H113V109C113 101.82 118.82 96 126 96C133.18 96 139 101.82 139 109V141H126V114H125.981C125.726 110.644 122.922 108 119.5 108C116.078 108 113.274 110.644 113.019 114H113V141H100V95ZM93 82.5C93 86.0899 90.0899 89 86.5 89C82.9101 89 80 86.0899 80 82.5C80 78.9101 82.9101 76 86.5 76C90.0899 76 93 78.9101 93 82.5Z" fill="#F7F9FC"/>
                        </g>
                        </svg>
                    </a>
                    <a href="">
                        <svg id="youtube" width="69.3" height="70" viewBox="0 0 214 216" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="youtubeIcon">
                            <path id="Ellipse 1" d="M211.5 108C211.5 166.288 164.692 213.5 107 213.5C49.3081 213.5 2.5 166.288 2.5 108C2.5 49.712 49.3081 2.5 107 2.5C164.692 2.5 211.5 49.712 211.5 108Z" stroke="#CBD2E0" stroke-width="5"/>
                            <path id="Subtract" d="M92.5 134.914V135.954L93.3124 135.304L126.312 108.89L126.8 108.5L126.312 108.11L93.3124 81.6959L92.5 81.0456V82.0862L92.5 134.914ZM54.5 88C54.5 77.2304 63.2304 68.5 74 68.5H140C150.77 68.5 159.5 77.2304 159.5 88V128C159.5 138.77 150.77 147.5 140 147.5H74C63.2304 147.5 54.5 138.77 54.5 128V88Z" fill="#EDF0F7" stroke="#CBD2E0"/>
                            </g>
                            </svg>
                        </a>

                        <a href="">

                        </a>
                
</div>


<style>

h2{
    font-size: 40px;
    padding: 80px 0 30px 70px;
    margin: 0;
}

p{
    font-size: 28px;
    width: 38ch;
    padding: 0 0 0 70px;
}

img{
    margin: 20px 0 0 130px;
}

.newsletterHolder{
    height: 673.4px;
    width: 900px;
    margin: 50px auto  50px auto;
    position: relative;
    /* background-color: bisque; */
}

.newsletterBox{

    width: 819px;
    height: 673.4px;
    clip-path: polygon(0 0, 70% 0, 100% 40%, 100% 100%, 30% 100%, 0 60%);
    background-color: #4E87A0;
}
.socialmediaBox{
    /* width: 894px;
    height: 438px; */
    width: 625.8px;
    height: 306.6px;
    left: 32%;
    top: 50%;
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0 100%);
    position: absolute;
    background-image: url(../../public/img/Til\ newsletter-01.webp);
    background-repeat: no-repeat;
    background-size: contain;
    
}

#facebook{
    position: absolute;
    top: 83%;
    right: 50%;
}
#facebook:hover{
    fill: #dddddd;
    fill-opacity: 0.50;
}

#instagram{
    position: absolute;
    top: 83%;
    right: 40%;
}

#instagram:hover{
    fill: #dddddd;
    fill-opacity: 0.50;

}

#twitter{
    position: absolute;
    top: 83%;
    right: 30%;
}

#twitter:hover{
    fill: #dddddd;
    fill-opacity: 0.50;
}

#mail{
    position: absolute;
    top: 83%;
    right: 20%;
}
#mail:hover{
    fill: #dddddd;
    fill-opacity: 0.50;
}

#linkedin{
    position: absolute;
    top: 83%;
    right: 10%;
}

#linkedin:hover{
    fill: #dddddd;
    fill-opacity: 0.50;
}

#youtube{
    position: absolute;
    top: 83%;
    right: 0%;
}

#youtube:hover{
    fill: #dddddd;
    fill-opacity: 0.50;
}


@media screen and (max-width: ) {

    
}


</style>