---
const { text, headliner, pathImg } = Astro.props;
---

<article class="mainArticle">
  <img src={pathImg} alt="" />
  <h3>{headliner}</h3>
  <p>{text}</p>
</article>

<style>
  .mainArticle {
    background-image: url("/svg/textBox.svg");
    width: 600px;
    height: 330px;
  }
  p {
    color: white;
    margin-left: 50px;
    margin-top: 17px;
    padding-right: 50px;
    font-size: 90%;
  }
  h3 {
    color: white;
    margin-left: 50px;
    margin-top: 29px;
  }
  img {
    margin-left: 13px;
    margin-top: 12px;
  }
  @media (max-width: 750px) {
    .mainArticle {
      margin-left: -25px;
      margin-right: -25px;
      
    }
  }

  @font-face {
    font-family: kollektif;
    src: url(fonts/Kollektif.ttf);
}

@font-face{
    font-family: interReg;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face{
    font-family: interBold;
    src: url(fonts/Inter-Bold.ttf);
}

h1, h2, h3{
    font-family: kollektif;
}

h4, h5{
    font-family: interBold;
}

p{
    font-family: interReg;
}
</style>
