@font-face {
    font-family: kollektif;
    src: url(fonts/Kollektif.ttf);
}

@font-face{
    font-family: interReg;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face{
    font-family: interBold;
    src: url(fonts/Inter-Bold.ttf);
}

h2, h3, h3, h4, p{
    color: rgb(23, 39, 39);
}

h1, h2, h3{
    font-family: kollektif;
}

h4{
    font-family: interBold;
}

p{
    font-family: interReg;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 75px;
}

h3{
    font-size: 50px;
}

h4{
    font-size: 35px;
}

p{
    font-size: 25px;
    max-width: 48ch;
}

main{
    max-width: 1600px;
}